.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    margin-left: 240px;
    position: relative;
    overflow: hidden;

    &:hover {
        .container::-webkit-scrollbar-thumb {
            background-color: var(--primary);
        }
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 240px;
        z-index: 9999;
    }
    .container {
        margin-top: 70px;
        padding: var(--gutter-content);
        background-color: var(--player-bg);
        height: calc(100vh - (var(--height-control) + var(--height-header)));
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    .loading-page {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--player-bg);
        z-index: 9999;
    }
}

.control {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
