.notification {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(72, 203, 230);
    z-index: 999999;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}
.content {
    margin-left: var(--width-sidebar);
    position: relative;
    overflow: hidden;

    &:hover {
        .container::-webkit-scrollbar-thumb {
            background-color: var(--primary);
        }
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: var(--width-sidebar);
        z-index: 9999;
        background-color: var(--layout-header-bg);
        transition: all 0.4s ease-in-out;
    }
    .bgn {
        background-color: transparent;
    }

    .container {
        margin-top: 70px;
        padding: var(--gutter-content);
        background-color: var(--player-bg);
        height: calc(100vh - (var(--height-control) + var(--height-header)));
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    .mgn {
        margin-top: 0;
        height: calc(100vh - var(--height-control));
    }
    .loading-page {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--player-bg);
        z-index: 9999;
    }
}

.control {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 740px) and (max-width: 1113px) {
    .header {
        left: var(--width-sidebar-tablets) !important;
    }
    .content {
        margin-left: var(--width-sidebar-tablets);
    }
    .container {
        padding: 0 30px !important;
    }
}

@media (max-width: 740px) {
    .notification {
        display: flex;
    }
}
