.artists-item {
    .artists-img {
        position: relative;
        height: 213px;
        width: 213px;
        overflow: hidden;
        border-radius: 50%;
        &:hover {
            .artists-option {
                display: block;
            }
            .artists-img-link {
                transform: scale(1.15);
                -webkit-filter: brightness(50%);
                filter: brightness(50%);
            }
        }
    }
    .artists-option {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .artists-img-link {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s linear;
    }
    .artists-body {
        margin-top: 12px;
        text-align: center;
        h3 {
            margin-top: 24px 0 8px 0;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--text-color);
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
            color: var(--text-secondary);
        }
    }
    .artists-btn {
        background-color: var(--bgr-button);
        padding: 8px 18px;
        margin: 12px;
    }
}
