.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
    padding: 0 59px;
}
.container-arrow {
    display: flex;
}
.header-left {
    display: flex;
    align-items: center;
    width: 50%;

    .icon-arrow {
        font-size: 1.8rem;
        color: #fff;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.header-right {
    display: flex;
    align-items: center;
    .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
