.wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: var(--border-player);

        .option-icon {
            display: flex;
        }
        .play-icon {
            display: block;
        }

        .img-link {
            -webkit-filter: brightness(50%);
            filter: brightness(50%);
        }
    }
}

.active {
    background-color: var(--border-player);
}
.activeSzBar {
    background-color: var(--primary);
    &:hover {
        background-color: var(--primary);
    }
    .img-link {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
    }
}
.rank {
    font-size: 3.2rem;
    padding: 0 20px 0 12px;
    font-weight: 900;
    line-height: 1;
}

.img {
    position: relative;
    width: 60px;
    height: 60px;

    .img-link {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .play-icon {
        display: none;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .showIcon {
        display: block;
    }
}

.smallSz {
    height: 40px;
    width: 40px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    margin-left: 12px;

    color: var(--text-color);
    flex: 1;

    .name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.4rem;
        font-weight: 500;
        margin-right: 6px;
        color: var(--white-color);
    }
    .day,
    .singer {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: var(--text-secondary);
        font-weight: 500;
    }
}
.percent {
    font-size: 1.6rem;
    font-weight: 700;
}
.option {
    padding: 0 14px;

    .option-list {
        display: flex;
    }
    .option-icon {
        display: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 4px;

        &:hover {
            background-color: var(--border-player);
        }
    }
}

.option-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
    min-width: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px 2px var(--bgr-hover);

    .option-item {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid var(--bgr-hover);
        &:hover {
            background-color: var(--bgr-hover);
        }
        &:last-child {
            border: none;
        }
    }

    .option-more-icon {
        width: 40px;
        text-align: center;
    }
    .option-more-title {
        font-size: 1.4rem;
        font-weight: 400;
    }
}
